<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="/styles/layout.css">
</head>
<body>
<nav>
    <a href="/index.html">[ultra.]</a>
    <a href="/src/about">about</a>
    <a href="/src/things">things</a>
    <a href="/src/projects">projects</a>
    <a href="/src/blog">writing</a>

</nav>

<div class="content">
  <h1>Stuff I've Written</h1>
        <hr>
        {% for writing in collections.writing %}
        <div class="blogpost">
        <a href="{{ writing.url }}"><h2>{{ writing.data.title }}</h1></a>
        <p>{{writing.data.createdDate}} - {{writing.data.desc}}</p>
        <hr>
        </div>
    {% endfor %}

</div>
</body>
</html>
