@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Jacquarda+Bastarda+9&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

:root {
  --bgcolor: #ffffff;
  --textcolor: #000000;
  --linkcolor: blue;
}

body {
    background-color: var(--bgcolor);
    color: var(--textcolor);
    margin: 0;
    font-family: "Radio Canada Big", serif;
    font-weight: 400;
    font-size: smaller;
}
h1,h2,h3,h4,h5 {
   font-family: "Source Serif 4", serif;
   font-weight: 400;
   margin: 0.1em 0em;
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}

p {
 margin: 0;
 font-size: larger;
}
a {
  color: var(--linkcolor);
}
ul, ol {
  padding: 0;
  list-style: inside;
  margin: 0.4em 0em;
  font-size: large;
}
hr.solid {
  background-color: var(--textcolor);
  height:2px;
  border-width:0;
  margin: 0;
  opacity: 30%;
}

div.content {
    width: 60%;
    max-width: 1080px;
    margin: 1em auto;
    font-size: 1.1em;
}
div.blogpost {
  padding: 0em 0em;
}

/*navigation bar*/
nav {
    overflow: hidden;
    background-color: var(--bgcolor);
    border-bottom: 2px solid #aaa;
}
nav a {
    font-size: 1.6em;
    font-weight: 600;
    float: left;
    color: var(--textcolor);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav a:hover {
    background-color: var(--textcolor);
    color: var(--bgcolor);
}
